#photo {
  width : 5%;
 
}

#photo:hover{
  transform: scale(1.3);
  transition: 1s;
}

#photo img{
  border-radius: 50%  ;
  border: 5px solid;
  border-color: #4ECCA3;
  margin: 10px;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  margin: 10px;
}

button{
  width: 80px;
  padding: 10px;
  background-color: #4ECCA3;
  border-radius: 10%;
  border-color: #4ECCA3;
  border-style: solid;
  font-family: 'Indie Flower', cursive;
  font-size: larger;
  
}
button:hover{
  transform: scale(1.1);
}